<div class="Myself">
<div class="Group1">
    <h1>Thien</h1>
    <img src="assets/images/Avatar.png" class="picture">
    <h2>Nguyen Si Thien</h2>
    <h3>nsthien2109@gmail.com</h3>
    <div class="info">
        <img src="assets/images/Vector.png">
        <span>21-09-2001</span>
    </div>
    <div class="info">
        <img src="assets/images/Vector-phone.png">
        <span>0705459542</span>
    </div>
    <div class="info">
        <img src="assets/images/map-pin-user-line.png">
        <span>Ngu Hanh Son, Da Nang</span>
    </div>
</div>
</div>
